{% extends 'secondary.html' %}

{% block title %}{{block.super}}: Resume{% endblock %}
{% block body_attributes %}{{block.super}} id="Resume" class="secondary_page"{% endblock %}
{% block meta_description %}This is Thomas Welfley's resume. He has spent the last 7 years working exclusively in web development. The resume can be viewed here and downloaded as either a PDF or a text file.{% endblock %}

{% block subheading %}Resume{% endblock %}
{% block subnav %}
                    <li id="download_pdf"><a href="/assets/resume/resume.pdf">Download .pdf</a></li>
                    <li id="download_txt"><a href="/assets/resume/resume.txt">Download .txt</a></li>
                    {{block.super}}{% endblock %}

{% block secondary_page_content %}
        <article id="resume_content" class="secondary_page_content">
            <header>
                <hgroup>
                    <h1>Thomas Welfley</h1>
                    <h2>Web Developer</h2>
                </hgroup>
                <p class="email"><a href="{% url contact_me %}">thomas@welfley.me</a></p>
                <address>
                    50 Alta St. #1 San Francisco, CA 94133
                </address>
                <p class="phone_number">(321) 960 - 6107</p>
            </header>
            <section id="intro">
                <p>I'm really good at building web applications with <strong>Django</strong>, <strong>Celery</strong>, and <strong>Python</strong> on the back end, and <strong>semantic markup</strong>, <strong>CSS</strong>, and <strong>jQuery</strong> on the front end. I can take an idea from inception to deployment either as part of a team or independently. Just say the word and <strong>let's get started building amazing things</strong>.</p>
            </section>
            <section id="professional_experience">
                <h1>Professional Experience</h1>
                <section>
                    <h1>Match Strike, LLC <span>2009  &mdash;  Present</span></h1>
                    <h2>Cofounder + Lead Developer</h2>
                    <p>Responsible for envisioning new products and features and then leading their execution. Interacted with and supported numerous clients. Secured an opportunity to pitch our primary product to a prominent seed capital firm. Worked extensively with the <strong>Twitter and Facebook APIs</strong>.</p>
                </section>
                <section>
                    <h1>University of Central Florida</h1>
                    <h2>Project Manager / Team Lead  <span>2006 &mdash; 2009</span></h2>
                    <p>Led a team of 10 developers in the creation of numerous web applications using <strong>agile processes</strong>. Responsible for project management, technical planning, quality assurance, hiring, and training. Several of the projects I initiated culminated in the reduction of human resource requirements by well over a thousand person-hours per year. In other words, my team and I built cool things that made people's jobs easier.</p>
                    <h2 id="ucf_web_dev">Web Developer <span>2004 &mdash; 2006</span></h2>
                    <p>Developed web applications in support of online learning at the nation’s 3rd largest university. Rich, accessible (<strong>section 508 compliant</strong>) interfaces was one of my specialties. Went from new hire to team lead in less than two years and had more fun doing it than I could possibly describe.</p>
                </section>
                <section>
                    <h1>540 Interactive, Inc. <span>2003 &mdash; 2004</span></h1>
                    <h2>Web Developer</h2>
                    <p>Converted PSD based compositions to standards compliant XHTML and CSS. Assisted with the deployment and customization of internally produced, proprietary content management systems written in <strong>PHP</strong>.</p>
                </section>
            </section>
            <section id="education">
                <h1>Education</h1>
                <section>
                    <h1>University of Central Florida</h1>
                    <h2>B.S. in Computer Science <span>2002 &mdash; 2006</span></h2>
                </section>
            </section>
        </article>
{% endblock%}
