.enter {
  opacity: 0;
}

.enterActive {
  opacity: 1;
  transition: opacity 500ms;
}

.exit {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
}

.exitActive {
  opacity: 0;
  transition: opacity 500ms;
}
