$background-color: #36bc59;

.button {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  background: $background-color;
  color: #fffd;
  margin: 0;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  outline: none;
  box-shadow: none;
  border: none;
  font-size: 125%;
  cursor: pointer;
  transition: 0.5s background;

  &:hover,
  &:active {
    background: darken($background-color, 5%);
  }

  span {
    display: block;
    padding: 0 0.75rem 0 1rem;
    transform: scale(0.8);
  }

  &:disabled {
    color: #fff6;
  }
}

.withIcon {
  padding-left: 0;
}
