.container {
  display: inline-block;
  background: transparent;
  user-select: none;
  border: 2px solid rgba(#fff, 0.2);
  border-radius: 20px;
  width: auto;
  padding: 15px 5px;

  video {
    display: block;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10vw 0.1vw rgba(#fff, 0.3);
  }
}

.shake {
  animation: shake 0.2s 3;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
