$background-color: #36bc59;

.button {
  display: inline-block;
  box-sizing: border-box;
  background: $background-color;
  color: #ffffffdd;
  margin: 0;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  outline: none;
  box-shadow: none;
  border: none;
  font-size: 125%;
  cursor: pointer;
  transition: 0.5s background;

  &:hover,
  &:active {
    background: darken($background-color, 5%);
  }
}
