.content {
  background: url('./header_bg.jpg') center center no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: block;
      padding: 2rem;
    }
  }
}
