$highlight-color: #274f74;
$error-background: rgba(#ff5959, 0.35);
$background: rgba(#fff, 0.35);

.input {
  box-sizing: border-box;
  border: none;
  display: block;
  background: $background;
  padding: 1rem;
  margin: 1.5rem 0;
  width: 100%;
  color: inherit;
  font-size: 125%;
  outline: none;

  border-radius: 0.5rem;

  &:focus {
    background: rgba($background, 0.4);
    animation: anim-shadow 0.5s forwards;
  }
}

.validated {
  &:invalid {
    background: $error-background;
  }

  &:invalid:focus {
    background: rgba($error-background, 0.5);
  }
}

@keyframes anim-shadow {
  from {
    box-shadow: 0 0 0 0 rgba($highlight-color, 0), 0 0 0 0 transparent;
  }

  50% {
    box-shadow: 0 0 0 2px $highlight-color,
      0 0 50px 10px rgba($highlight-color, 0.5);
  }

  to {
    box-shadow: 0 0 0 2px $highlight-color, 0 0 50px 100px transparent;
  }
}
