.container {
  position: relative;
  text-align: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 15vh;

  @media (min-width: 1300px) {
    flex-direction: row;
    justify-content: flex-end;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    letter-spacing: normal;
    line-height: normal;
    font-weight: bold;
  }
}

.demo {
  @media (min-width: 1300px) {
    position: absolute;
    left: 0;
    z-index: 0;
  }
}

.content {
  text-align: left;

  @media (min-width: 1300px) {
    color: #fff;
    position: relative;
    z-index: 1;
    width: 40vw;
    background-color: #032f62;
    border-radius: 15px;
    padding: 3rem 3vw;
    box-shadow: 0 0 5vw 1rem rgba(#000, 0.4);
    margin: 20rem 0 0 0;
  }

  svg {
    padding: 0 0 4rem 2rem;
    float: right;
    font-size: 400%;
  }
}
