{% extends "secondary.phtml" %}
{% block body_attributes %}{{block.super}} id="error_page" class="secondary_page"{% endblock %}
{% block meta_description %}404 File not found.{% endblock %}

{% block subheading %}404 Page Not Found{% endblock %}
{% block secondary_page_content %}
    <section class="secondary_page_content">
        <h1>Uh oh!</h1>
        <p>Sorry, I couldn't find the page you were looking for. Maybe you could try <a href="http://www.google.com/search?q=site:welfley.me">searching for it</a>?</p>
        <p>If that doesn't work out, please <a href="{% url contact_me %}">contact Thomas</a>. He might be able to help.</p>
    </section>
{% endblock %}
