@import-normalize;

body {
  font-family: system-ui;
  font-weight: 400;
  margin: 0;
  -webkit-font-smoothing: subpixel-antialiased;
  font-size: 18px;
  font-weight: 200;
  line-height: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 5rem;
  font-weight: 100;
  letter-spacing: 0.25rem;
}

.App {
  text-align: center;
}
