@import-normalize;

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue;
  margin: 0;
  -webkit-font-smoothing: subpixel-antialiased;
  font-size: 18px;
  font-weight: 200;
  line-height: 2rem;
  text-align: center;
  background: #373e45;
}

#root {
  background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 5rem;
  font-weight: 100;
  letter-spacing: 0.25rem;
}
