.columns {
  margin: 0 5vw;
  text-align: center;

  @media (min-width: 800px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 10vw;
    text-align: left;
  }

  @media (min-width: 1500px) {
    max-width: 1500px;
    margin: 0 auto;
  }

  > * {
    flex: 1;
    flex-basis: 0;
    padding: 1rem 0;

    @media (min-width: 800px) {
      padding: 0;
    }
  }
}

.flex {
  flex: auto;

  > * {
    flex: auto;
    flex-basis: auto;
  }
}
